.main_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;

  @media screen and (min-width: 481px) {
    width: 40vw;
    height: 35vw;
    margin-left: 15px;
    margin-right: 15px;
  }
  @media screen and (min-width: 768px) {
    height: 22vw;
    position: relative;
  }
  & img {
    width: 250px;
  }
}
.send {
  background-color: #c08369;
}
.host {
  background-color: #939375;
}
#send_tourists,
#host_tourists {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
